<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shawn.bubblenote" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bubble Note"
        android:theme="@style/AppTheme">

        <activity
            android:name=".BubbleNote"
            android:label="Bubble Note" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <activity android:name="Note"
                android:parentActivityName=".BubbleNote"></activity>
    </application>

</manifest>
